@model NeiR.DATA.EF.Models.OrderProduct

@{
    ViewData["Title"] = "Details";
}

<h1 class="title">@ViewData["Title"]</h1>

<div>
    <h4>OrderProduct</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Order)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Order.ShipCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weapon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weapon.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.OrderProductsId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
