@model IEnumerable<NeiR.DATA.EF.Models.OrderProduct>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-dark d-inline-flex btn-lg" style="margin-left: 6.3% !important;" asp-action="Create">Create New</a>
</p>
<table class="Design" style="width: 100% !important; margin-left: auto!important; margin-right: auto !important;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weapon)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.ShipCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weapon.Name)
            </td>
            <td>
                <a style="margin: 3em !important;" asp-action="Edit" asp-route-id="@item.OrderProductsId">Edit</a>|
                @*<a asp-action="Details" asp-route-id="@item.OrderProductsId">Details</a> |*@
                <a style="margin: 3em !important;" asp-action="Delete" asp-route-id="@item.OrderProductsId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
